<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dancheng.bs.dao.UniversityDao">
    <resultMap id="BaseResultMap" type="com.dancheng.bs.model.UniversityModel" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="schoolName" jdbcType="VARCHAR" />
        <result column="picLink" property="picLink" jdbcType="VARCHAR" />
        <result column="picClickLink" property="picClickLink" jdbcType="VARCHAR" />
        <result column="registrationTime" property="registrationTime" jdbcType="VARCHAR" />
        <result column="registrationConditionLink" property="registrationConditionLink" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertUniversityModel" parameterType="com.dancheng.bs.model.UniversityModel">
        INSERT INTO university(NAME, picLink, picClickLink, registrationTime, registrationConditionLink) VALUES("${schoolName}", "${picLink}", "${picClickLink}", "${registrationTime}", "${registrationConditionLink}")
    </insert>

    <delete id="deleteUniversityById" parameterType="Integer">
        DELETE FROM university WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.dancheng.bs.model.UniversityModel">
        UPDATE university SET name = "${schoolName}", picLink = "${picLink}", picClickLink = "${picClickLink}", registrationTime = "${registrationTime}", registrationConditionLink = "${registrationConditionLink}" WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        university
        WHERE
        id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        university
    </select>
</mapper>